<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="pathBase" value="c:\"/>
  <targets>
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message}">
      <parameter name="Message&#9;&#9;" layout="${message}" />
      <parameter name="Callsite&#9;&#9;" layout="${callsite:includSourcePath=true}"/>
      <parameter name="Exception&#9;" layout="${exception:separator=&#13;&#10;----&#13;&#10;:innerExceptionSeparator=&#13;&#10;-- -- -- -- --&#13;&#10;:maxInnerExceptionLevel=5:format=Message,Type,StackTrace:innerFormat=Message,Type,StackTrace}" />
      <parameter name="StackTrace&#9;" layout="${newline}&#9;${stacktrace_custom}" />
    </target>
    <!--<target xsi:type="File" name="f" fileName="c:\\Logs\\${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message}" />    -->
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="f" />
  </rules>
</nlog>
