.vs
BackgroundAPIRest/obj
BackgroundAPIRest/bin
Business.Main/obj
Business.Main/bin
CoreAccesLayer/obj
CoreAccesLayer/bin
Domain.Main/obj
Domain.Main/bin
NUnitBusinessMain/obj
NUnitBusinessMain/bin
PlumbingProps/obj
PlumbingProps/bin
PlumbingProps/obj/Debug/net5.0/PlumbingProps.csproj.GenerateResource.cache
PlumbingProps/obj/Debug/net5.0/PlumbingProps.csproj.GenerateResource.cache
PlumbingProps/obj/Debug/net5.0/PlumbingProps.csproj.GenerateResource.cache
